*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: purple;
    width: 100vw;
    height: 100vh;
    display: flex;
    // padding: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .form-fields{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .container{
        width: 800px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .completed-list, .todo-list{
            width: 300px;
            border-radius: 5px;
            min-height: 200px;
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 5px;
            box-sizing: border-box;
            margin: -5x 0;
            .todo-row{
                width: 100%;
                display: flex;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 10px;
                background-color: red;
                margin: 3px 0;
                .listNum{
                    margin-right: 5px;
                }
                .check{
                    margin-right: 10px;
                    border-radius: 50%;
                }
                .edit{
                    margin-left: auto;
                    padding: 0 5px;
                }
                .delete{
                    margin-left: 10px;
                    padding: 0 5px;
                }
            }
            .important{
                background-color: blue;
                color: white;
            }
        }
    }
}