@import './details/reset';
@import './details/common';

*{
    margin: 0;
    padding: 0;
}

.wrapper{
background-color: #D0D0D0;
    width: 100vw;
    height: 100vh;
    display: flex;
    // padding: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .form-fields{
        display: flex;
        width: 1000px;
        justify-content: space-between;
        margin: 40px 0;
        box-sizing: border-box;
        background-color: #FF5733;
        padding: 10px;
        border-radius: 5px;
        input{
            padding: 5px;
            outline: none;
            border: none;
            border-radius: 5px;
            height: 30px;
            width: 250px;
        }
        button, select{
            height: 40px;
            border-radius: 5px;
            border: none;
            padding: 10px;
        }
    }
    .container{
        width: 1000px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .completed-list, .todo-list{
            width: 400px;
            border-radius: 5px;
            min-height: 200px;
            background-color: #FF5733;
            display: flex;
            flex-direction: column;
            padding: 5px;
            box-sizing: border-box;
            margin: -5x 0;
            .todo-row{
                width: 100%;
                display: flex;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 10px;
                background-color: #fff;
                margin: 3px 0;
                align-items: center;
                .listNum{
                    margin-right: 5px;
                }
                .check{
                    margin-right: 10px;
                    border-radius: 50%;
                }
                .edit{
                    margin-left: auto;
                    padding: 5px 10px;
                }
                .delete{
                    margin-left: 10px;
                    padding: 5px;
                }
            }
            .important{
                background-color: blue;
                color: white;
            }
        }
    }
}