html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #D0D0D0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FF5733;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 62.5rem) {
  .wrapper .form-fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95vw;
    margin: 20px 0;
  }
}

.wrapper .form-fields input {
  padding: 0.25rem;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 15.5rem;
}

@media screen and (max-width: 62.5rem) {
  .wrapper .form-fields input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 11rem;
  }
  .wrapper .form-fields input:first-child {
    margin-bottom: 30px;
  }
}

.wrapper .form-fields button, .wrapper .form-fields select {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
}

.wrapper .container {
  width: 62.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 62.5rem) {
  .wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper .container .completed-list, .wrapper .container .todo-list {
  width: 25rem;
  border-radius: 5px;
  min-height: 12.5rem;
  background-color: #FF5733;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -0.25rem 0;
}

@media screen and (max-width: 62.5rem) {
  .wrapper .container .completed-list, .wrapper .container .todo-list {
    margin-bottom: 30px;
    width: 95vw;
  }
}

.wrapper .container .completed-list .todo-row, .wrapper .container .todo-list .todo-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #fff;
  margin: 0.25rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .completed-list .todo-row .listNum, .wrapper .container .todo-list .todo-row .listNum {
  margin-right: 0.25rem;
}

.wrapper .container .completed-list .todo-row .check, .wrapper .container .todo-list .todo-row .check {
  margin-right: 10px;
  border-radius: 50%;
}

.wrapper .container .completed-list .todo-row .edit, .wrapper .container .todo-list .todo-row .edit {
  margin-left: auto;
  padding: 0.25rem 0.8rem;
}

.wrapper .container .completed-list .todo-row .delete, .wrapper .container .todo-list .todo-row .delete {
  margin-left: 0.8rem;
  padding: .25rem;
}

.wrapper .container .completed-list .important, .wrapper .container .todo-list .important {
  background-color: #1D8995;
  color: #fff;
}
