html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.todo-input, input.edit {
  width: 250px;
  height: 30px;
}

.add, .edit-btn, select {
  height: 30px;
  border: none;
  padding: 0 5px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.wrapper .container {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .container .completed-list, .wrapper .container .todo-list {
  width: 300px;
  border-radius: 5px;
  min-height: 200px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -5x 0;
}

.wrapper .container .completed-list .todo-row, .wrapper .container .todo-list .todo-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  margin: 3px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .completed-list .todo-row .listNum, .wrapper .container .todo-list .todo-row .listNum {
  margin-right: 5px;
}

.wrapper .container .completed-list .todo-row .check, .wrapper .container .todo-list .todo-row .check {
  margin-right: 10px;
  border-radius: 50%;
}

.wrapper .container .completed-list .todo-row .edit, .wrapper .container .todo-list .todo-row .edit {
  margin-left: auto;
  padding: 5px 10px;
}

.wrapper .container .completed-list .todo-row .delete, .wrapper .container .todo-list .todo-row .delete {
  margin-left: 10px;
  padding: 5px;
}

.wrapper .container .completed-list .important, .wrapper .container .todo-list .important {
  background-color: blue;
  color: white;
}
